<div class="row">
    <div class="col-xs-12">
        <h3>Showing issues of "{{ params.vendor + '/' + params.repository }}" repository</h3>

        <p>
            <button class="btn btn-success" ng-if="user" ng-click="toggleForm()">Open Issue</button>
            <a class="btn btn-primary" ng-if="!user" ui-sref="login">Login to open an issue</a>

            <button class="btn btn-danger pull-right" ng-if="user" ng-click="logout()">Logout</button>
        </p>

        <div ng-if="showForm" ng-include="'/views/issues/issue-form.html'"></div>

        <div class="row issues-filter">
            <div class="col-xs-4">
                <div class="btn-group btn-group-justified" role="group" aria-label="Issues state">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default disabled">
                            Filter Issues:
                        </button>
                    </div>

                    <div class="btn-group" role="group">
                        <a ui-sref="{state: 'open'}" class="btn btn-default"
                           ng-class="{active: !params.state || params.state === 'open'}">
                            Open
                        </a>
                    </div>

                    <div class="btn-group" role="group">
                        <a ui-sref="{state: 'closed'}" class="btn btn-default"
                           ng-class="{active: params.state === 'closed'}">
                            Closed
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" ng-repeat="issue in issues">
                <span class="label"
                      ng-class="{'label-success': issue.state === 'open', 'label-default': issue.state === 'closed'}">
                    {{ issue.state }}
                </span>
                &nbsp;
                <span class="badge">{{ issue.comments }}</span>
                <a ui-sref="issue({vendor: params.vendor, repository: params.repository, id: issue.number})">
                    {{ issue.title }}
                </a>
                <small am-time-ago="issue.created_at"></small>
            </li>
        </ul>

        <nav>
            <ul class="pager">
                <li>
                    <button ng-click="loadMore()" class="btn">
                        <span class="glyphicon glyphicon-retweet"></span>
                        Load More
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>